@model Models.Rate

@section Styles{
<link rel="stylesheet" href="~/css/generalCardDesign.css" />
}


<div class="cardBody">
	<div class="headline">
		<h1>Delete</h1>
	</div>
	<p> Are you sure you want to delete?</p>
	<div class="form-content">
		<div class="row">
			<div id="warpper" class="col-lg-12">
				<hr />
				<dl class="row">
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Name)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Name)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.RateNumber)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.RateNumber)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Feedback)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Feedback)
					</dd>
				</dl>

				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<input type="submit" value="Delete" class="btn btn-danger" /> |
					<a asp-action="Index">Back to List</a>
				</form>
			</div>
		</div>
	</div>
</div>

