@model IEnumerable<Models.Rate>

@section Styles{
    <link rel="stylesheet" href="~/css/generalCardDesign.css"/>
}

<div class="cardBody">
    <div class="headline">
        <h1>Rating</h1>
    </div>

    <div class="form-content">
        <div class="row">
            <div class="col-lg-12">

                <p>
                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                    <label class="alert">Avrage Rate: @ViewData["avrage"]</label>
                </p>


                <form asp-action="Index">
                    <div class="input-group mb-3">
                        <input id="search" name="query" type="text" class="form-control" placeholder="search feedback"
                               aria-label="search feedback">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <a style="float:right;" asp-action="Index">Reset</a>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RateNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Feedback)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WhenCreated)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RateNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Feedback)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WhenCreated)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-primary" role="alert">
                        No Rating Found
                    </div>
                }

            </div>
        </div>
    </div>
</div>
